<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <form (ngSubmit)="onSignup()" #f="ngForm">
      <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control" type="text" name="name" id="name" ngModel minLength="4" required>
      </div>
      <div class="form-group">
        <label for="email">Mail</label>
        <input class="form-control" type="email" name="email" id="email" ngModel email required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" ngModel minLength="6" required>
      </div>
      <div class="form-group">
        <label for="confirm_password">confirm Password</label>
        <input class="form-control" type="password" name="confirm_password" id="confirm_password" ngModel minLength="6" required>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''" [innerHTML]="errorMessage"></div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
    </form>
  </div>
</div>
